stages:
  - install
  - build
  - deploy

# 安装
install:
  stage: install
  image: "$HARBOR_REGISTRY/ponycool/php-deploy:8.3"
  script:
    - composer install
  cache:
    paths:
      - vendor/
  artifacts:
    expire_in: 30 days
    paths:
      - vendor
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

# 编译
build:
  stage: build
  image: "$HARBOR_REGISTRY/library/docker:29-cli"
  # 使用docker in docker
  #services:
  #  - name: "$HARBOR_REGISTRY/library/docker:29-dind"
  #    alias: docker
  #    # 将域名加入 insecure-registries
  #    command:
  #      - "--host=tcp://0.0.0.0:2375"
  #      - "-insecure-registry=$HARBOR_REGISTRY"
  variables:
    DOCKER_IMAGE_NAME: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
    # 注意：如果禁用 TLS，通常建议改用 2375 端口（非加密）
    #DOCKER_HOST: tcp://docker:2375
    #DOCKER_TLS_CERTDIR: ""
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login "$HARBOR_REGISTRY" -u "$CI_REGISTRY_USER" --password-stdin
  script:
    # docker in docker跨平台编译遇到无法解决的错误，暂时使用手动编译
    - docker build -t "$DOCKER_IMAGE_NAME" .
    - |
      if [[ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]]; then
        docker tag "$DOCKER_IMAGE_NAME" "$CI_REGISTRY_IMAGE:latest"
        docker push "$CI_REGISTRY_IMAGE:latest"
      fi
    - |
      if echo "$CI_COMMIT_TAG" | grep -Eq '^[0-9]+(\.[0-9]+)*$'; then
        docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG" "$CI_REGISTRY_IMAGE:$CI_COMMIT_TAG"
        docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_TAG"
      fi
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      exists:
        - Dockerfile
    - if: $CI_COMMIT_TAG =~ /^[0-9]+(\.[0-9]+)*$/
      exists:
        - Dockerfile

# 部署
deploy:
  stage: deploy
  image: alpine
  before_script:
    - sed -i 's/dl-cdn.alpinelinux.org/mirrors.tuna.tsinghua.edu.cn/g' /etc/apk/repositories
    - apk update && apk upgrade
    - 'which ssh-agent || ( apk update && apk add openssh-client git )'
    - eval $(ssh-agent -s)
    - echo "$SERVER_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan $SERVER_HOST >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
  script:
    - ssh $SERVER_USER@$SERVER_HOST
      "cd /opt/cms/docker-compose && sudo docker compose pull && sudo docker compose down && sudo docker compose up -d"
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

