{% extends 'base.twig' %}

{% block content %}
    {% include 'header.twig' %}
    <div class="container-fluid page-header py-5 mb-5">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">联系我们</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-white" href="/">首页</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">页面</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">联系我们</li>
                </ol>
            </nav>
        </div>
    </div>


    <div class="container-fluid bg-light overflow-hidden px-lg-0" style="margin: 6rem 0;">
        <div class="container contact px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-6 contact-text py-5 wow fadeIn" data-wow-delay="0.5s">
                    <div class="p-lg-5 ps-lg-0">
                        <h6 class="text-primary">联系我们</h6>
                        <h1 class="mb-4">请随时联系我们</h1>
                        <p class="mb-4">留下您的宝贵意见或疑问，我们用心倾听！</p>
                        <form>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="name" placeholder="姓名">
                                        <label for="name">姓名</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email" placeholder="电子邮箱">
                                        <label for="email">电子邮箱</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="subject" placeholder="主题">
                                        <label for="subject">主题</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="在此留言" id="message"
                                                  style="height: 100px"></textarea>
                                        <label for="message">留言</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary rounded-pill py-3 px-5" lay-submit
                                            lay-filter="submit" type="submit">发送消息
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 pe-lg-0" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <iframe class="position-absolute w-100 h-100" style="object-fit: cover;" src="javascript:;"
                                frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.twig' %}
{% endblock %}

{% block script %}
    {{ parent() }}
    <script>
        layui.use(function () {
            const form = layui.form;
            const layer = layui.layer;
            const $ = layui.jquery;
            form.on('submit(submit)', function () {
                const name = $('#name').val();
                const email = $('#email').val();
                const subject = $('#subject').val();
                const content = $('#message').val();
                if (!name) {
                    layer.msg('请输入姓名', {icon: 0});
                    return false;
                }
                if (!email) {
                    layer.msg('请输入电子邮箱', {icon: 0});
                    return false;
                }
                if (!subject) {
                    layer.msg('请输入主题', {icon: 0});
                    return false;
                }
                const url = '/api/open/message'
                const data = {
                    name: name,
                    email: email,
                    subject: subject,
                    content: content,
                    registrationSource: 'website',
                    registrationEntry: 'contact'
                }
                $.post({
                    url: url,
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (res, status) {
                        if (status !== 'success') {
                            layer.msg('提交失败', {icon: 2});
                            return false;
                        }
                        if (res.code === 0) {
                            layer.msg('提交成功', {icon: 1});
                        } else {
                            layer.msg(res.message, {icon: 2});
                        }
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}