{% extends 'base.twig' %}

{% block content %}
    {% include 'header.twig' %}
    {% set team = team(6) | default(null) %}
    <div class="container-fluid page-header py-5 mb-5">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Our Team</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-white" href="/">首页</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">页面</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">我们的团队</li>
                </ol>
            </nav>
        </div>
    </div>


    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h6 class="text-primary">团队成员</h6>
                <h1 class="mb-4">经验丰富的团队成员</h1>
            </div>
            <div class="row g-4">
                {% if team %}
                    {% for item in team %}
                        {% set index = loop.index %}
                        {% set delay = '0.1' %}
                        {% if index % 2 == 0 %}
                            {% set delay = '0.3' %}
                        {% elseif index % 3 == 0 %}
                            {% set delay = '0.5' %}
                        {% endif %}
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="{{ delay ~ 's' }}">
                            <div class="team-item rounded overflow-hidden">
                                <div class="d-flex">
                                    <img class="img-fluid w-75" src="{{ item.profile_image }}" alt="">
                                    <div class="team-social w-25">
                                        <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href="https://www.facebook.com/"><i
                                                    class="fab fa-facebook-f"></i></a>
                                        <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href="https://twitter.com/"><i
                                                    class="fab fa-twitter"></i></a>
                                        <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href="https://www.instagram.com/"><i
                                                    class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="p-4">
                                    <h5>{{ item.name }}</h5>
                                    <span>{{ item.job_title }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    {% include 'footer.twig' %}
{% endblock %}