{% extends 'base.twig' %}

{% block content %}
    {% include 'header.twig' %}
    <div class="container-fluid page-header py-5 mb-5">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">客户评价</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-white" href="/">首页</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">单页</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">客户评价</li>
                </ol>
            </nav>
        </div>
    </div>


    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h6 class="text-primary">客户评价</h6>
                <h1 class="mb-4">听听他们的声音！</h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                <div class="testimonial-item text-center">
                    <div class="testimonial-img position-relative">
                        <img class="img-fluid rounded-circle mx-auto mb-5" src="img/testimonial-1.jpg">
                        <div class="btn-square bg-primary rounded-circle">
                            <i class="fa fa-quote-left text-white"></i>
                        </div>
                    </div>
                    <div class="testimonial-text text-center rounded p-4">
                        <p>我们公司自从采用SolarTec太阳能的解决方案后，不仅实现了显著的能源成本节省，还成功减少了碳足迹。其高效可靠的太阳能面板与智能化能源管理系统完美结合，
                            使我们的运营更加绿色且可持续。售后服务团队的专业支持更是让人印象深刻，他们总能在我们需要的时候提供及时、有效的帮助。
                            选择SolarTec作为我们的可再生能源合作伙伴，无疑是明智之举。</p>
                        <h5 class="mb-1">王芳</h5>
                        <span class="fst-italic">某大型制造企业首席执行官</span>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <div class="testimonial-img position-relative">
                        <img class="img-fluid rounded-circle mx-auto mb-5" src="img/testimonial-2.jpg">
                        <div class="btn-square bg-primary rounded-circle">
                            <i class="fa fa-quote-left text-white"></i>
                        </div>
                    </div>
                    <div class="testimonial-text text-center rounded p-4">
                        <p>在转向可再生能源的过程中，SolarTec太阳能公司的咨询服务和技术实力为我们提供了巨大支持。他们的专家团队深入理解我们的能源需求，
                            并定制了一套既符合经济效益又兼顾环保责任的光伏电站方案。安装过程高效有序，项目完成后，我们的能源自给率大幅提升，
                            对环境的影响大幅降低。我们对合作成果非常满意。</p>
                        <h5 class="mb-1">张华</h5>
                        <span class="fst-italic">某高科技园区能源管理部门主任</span>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <div class="testimonial-img position-relative">
                        <img class="img-fluid rounded-circle mx-auto mb-5" src="img/testimonial-3.jpg">
                        <div class="btn-square bg-primary rounded-circle">
                            <i class="fa fa-quote-left text-white"></i>
                        </div>
                    </div>
                    <div class="testimonial-text text-center rounded p-4">
                        <p>作为一家致力于实现零碳排放的零售连锁企业，我们对供应商的选择极其严格。SolarTec太阳能凭借其创新的产品线、
                            严谨的项目管理和出色的后期运维服务，赢得了我们的信赖。他们的太阳能系统稳定高效，大大降低了我们的能耗成本，
                            助力我们在行业中树立了绿色商业的典范。与SolarTec的合作是我们向可持续未来迈进的重要里程碑。</p>
                        <h5 class="mb-1">李明</h5>
                        <span class="fst-italic">某全国性零售集团可持续发展总监</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.twig' %}
{% endblock %}